<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link href="./Public/Admin/Css/public.css" rel="stylesheet" type="text/css" />
	<title>用户管理</title>
</head>
<body leftmargin="2" topmargin="0" marginwidth="0" marginheight="0" oncontextmenu="self.event.returnValue=false">
	<table width="100%" border="0" align="center" cellpadding="1" cellspacing="1" class="border">
		<tr class="topbg">
			<td>用户管理</td>
		</tr>
		<tr class="tdbg">
			<td height="30">&nbsp;&nbsp;
				<a href="?c=User&a=index">管理首页</a>&nbsp;|&nbsp;
				<a href="?c=User&a=add">添加用户</a>
			</td>
		</tr>
	</table>
	<br />
	<table width="100%" border="0" align="center" cellpadding="3" cellspacing="1" class="border">
		<tr class="title">
			<td align="center">编号</td>
			<td align="center">用户名</td>
			<td align="center">真实姓名</td>
			<td align="center">联系电话</td>
			<td align="center">角色</td>
			<td align="center">最后登录IP</td>
			<td align="center">最后登录时间</td>
			<td align="center">登录总次数</td>
			<td align="center">账号状态</td>
			<td align="center">操作选项</td>
		</tr>
		{<foreach $arrs as $arr>}
			<tr class="tdbg">
				<td align="center">{<$arr['id']>}</td>
				<td align="center">{<$arr['username']>}</td>
				<td align="center">{<$arr['name']>}</td>
				<td align="center">{<$arr['tel']>}</td>
				<td align="center">						
					{<if $arr['role']==1>}
							超级管理员
							{<else>}
								普通管理员
								{</if>}			
				</td>
				<td align="center">{<$arr['last_login_ip']>}</td>
				<td align="center">{<$arr['last_login_time']|date_format:'%Y-%m-%d %H:%M:%S'>}</td>
				<td align="center">{<$arr['login_times']>}</td>
				<td align="center">
					{<if $arr['status']==1>}
						正常
						{<else>}
							关闭
							{</if>}

				</td>
				<td align="center">
					<a href="?c=User&a=edit&editid={<$arr['id']>}">修改</a> |
					<a href="?c=User&a=delete&deleteid={<$arr['id']>}">删除</a>
				</td>
			</tr>
			{</foreach>}
	</table>
</body>

</html>