<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>网站后台管理系统</title>
</head>

<frameset rows="64,*" framespacing="0" frameborder="1" border="false" scrolling="yes" id='frametop'>
  <frame src="?c=Index&a=top" name="top" scrolling="No" noresize="noresize" />
  <frameset framespacing="0" border="false" cols="182,10,*" frameborder="0" id="frameb" scrolling="yes">
    <frame src="?c=Index&a=left" name="left" scrolling="auto" noresize="noresize" />
	<frame src="?c=Index&a=center" name="center" scrolling="no"  noresize="noresize" />
    <frame src="?c=Index&a=main" name="main" />
  </frameset>
</frameset>
<noframes>
<body>你的浏览器版本过低！IE5及以上版本才能使用！</body>
</noframes>
</html>
