<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link href="./Public/Admin/Css/public.css" rel="stylesheet" type="text/css" />
<title>文章管理</title>
</head>

<body>
<!--导航栏-->
<table width="100%" border="0" align="center" cellpadding="1" cellspacing="1" class="border">
	<tr class="topbg"><td>文章管理</td></tr>
	<tr class="tdbg">
		<td height="30">&nbsp;&nbsp;
			<a href="#">管理首页</a>&nbsp;|&nbsp;
			<a href="#">添加文章</a>
		</td>
	</tr>
</table>

<!--搜索表单-->
<div style="padding:8px 5px;margin:8px 3px;background-color:#fefefe;text-align:center;">
<form name="form1" method="post" action="?c=Article&a=index">
	<span style="padding:0px 5px;">分类</span>
	<select name="category_id">
			<option value="">无</option>
			{<foreach $categoryLists as $categoryList>}
			<option value="{<$categoryList.id>}">{<str_repeat('----',$categoryList['level'])>}{<$categoryList['classname']>}</option>
			{</foreach>}
	</select>
	<span style="padding:0px 5px;">标题</span>
	<input type="text" name="keyword" />
	<input type="submit" value="搜索" />
	<input type="hidden" name="ac" value="search" />
</form>
</div>

<!--文章列表-->
<table width="100%" border="0" align="center" cellpadding="3" cellspacing="1" class="border">
<tr class="title" align="center">
	<td>编号</td>
	<td>分类</td>
	<td>标题</td>
	<td>作者</td>
	<td>发布时间</td>
	<td>操作选项</td>
</tr>
{<foreach $articleDatas as $articleData>}
<tr class="tdbg" align="center">
	<td>{<$articleData.id>}</td>
	<td>{<$articleData.classname>}</td>
	<td align="left">
		<a target="_blank" href="#">{<$articleData.title>}</a>
		[<font color="red">顶</font>]
	</td>
	<td>{<$articleData.username>}</td>
	<td>{<$articleData.addate|date_format:'%Y-%m-%d %H:%M:%S'>}</td>
	<td>
		<a href="?c=Article&a=edit&editid={<$articleData.id>}">修改</a> | 
		<a href="?c=Article&a=edit&deleteid={<$articleData.id>}">删除</a>
	</td>
</tr>
{</foreach>}
<!--文章分页-->
<tr class="tdbg">
	<td colspan="7" align="center">{<$pageStr>}</td>
</tr>
</table>
</body>
</html>